In [62]:
'''here in this we will going to learn about Pandas - Dataframe'''
import numpy as np
import pandas as pd
from numpy.random import randn

In [63]:
np.random.seed(101) # for generate diffrent random number

In [64]:
df_01 = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['01','02','03','04'])
print(df_01)
'''here we create a dataframe with the help of randn and diffrent values'''

         01        02        03        04
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

'here we create a dataframe with the help of randn and diffrent values'

In [65]:
# Data Extraction From DataFrame
print(df_01['01']) # extraction of data via passing column name
print(type(df_01['01']))
print(type(df))

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: 01, dtype: float64
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [66]:
# extraction of multiple Column form DataFrame
df_01[['01','02']]

         01        02
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

In [67]:
# create a new Column with adding two Existing Column
df_01['05'] = df_01['01'] + df_01['02']
print(df_01['05']) 
'''here New column is added to DataFrame'''
print(df_01)

A    3.334983
B    0.331800
C   -1.278046
D   -0.570177
E    2.169552
Name: 05, dtype: float64
         01        02        03        04        05
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [68]:
# drop a column from Table
print(df_01.drop('05',axis=1))
print(df_01)
'''here column is drop but you can again print
the df_01 then it will show you the 5th column
to remove this permanently from DataFrame we have
to use inplace = True'''

         01        02        03        04
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
         01        02        03        04        05
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

'here column is drop but you can again print\nthe df_01 then it will show you the 5th column\nto remove this permanently from DataFrame we have\nto use inplace = True'

In [69]:
df_01.drop('05',axis=1,inplace=True)
df_01 # here from DF '05' is deleted permanently

         01        02        03        04
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [70]:
# drop the row
df_01.drop('E') # here E row is drop

         01        02        03        04
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [72]:
# know the shape of DataFrame
df_01.shape

(5, 4)

In [75]:
# selecting Row / Selecting Multiple Row
print(df_01.loc['A']) # it will return a series of row via loc method /finding via row name
print(df.iloc[0]) # here we found a row via indexing

01    2.706850
02    0.628133
03    0.907969
04    0.503826
Name: A, dtype: float64
01    0.302665
02    1.693723
03    1.996388
04   -1.159119
Name: A, dtype: float64

In [77]:
# for getting a specific or single value in Pandas DF basis of row and column
df_01.loc['C','03']  # row/column

0.5288134940893595

In [79]:
# for find Specific row and Column
df_01.loc[['B','C'],['01','02']] # here we get specific row and column

         01        02
B  0.651118 -0.319318
C -2.018168  0.740122