In [2]:
'''So here we are going to study about python data type
 here in this you will study about data type and use of data type'
 datatypes are Numbers, Strings, Printing,Lists ,Dictionaries ,Booleans ,Tuples, Sets '''

"So here we are going to study about python data type\n here in this you will study about data type and use of data type'\n datatypes are Numbers, Strings, Printing,Lists ,Dictionaries ,Booleans ,Tuples, Sets "

In [3]:
# Number / Integer
''' number in python or integer in python
in integer only i'''

1

1

In [4]:
x = 20 # assign a value to variable
print(x)
x # either for single variable you can write only variable name

20

20

In [5]:
# for square
print(2 ** 2)
print(4**2)

4
16

In [6]:
int((2*2) + (2*3) + (16/2))

18

In [7]:
''' in Python arthematical operator work in this way  
Order of operation - PEMDAS
  1. Parentheses ( )
  2. Exponent **
  3. Multiplication *
  4. Division / // %
  5. Addition +
  6. Subtraction -
  '''

' in Python arthematical operator work in this way  \nOrder of operation - PEMDAS\n  1. Parentheses ( )\n  2. Exponent **\n  3. Multiplication *\n  4. Division / // %\n  5. Addition +\n  6. Subtraction -\n  '

In [8]:
4 % 2 # for check reminder

0

In [9]:
'''variable assign'''

x = 5
y = x+x
print([x,y])

[5, 10]

In [10]:
'''now we understand about string
string are mention in 'string01' ,
"string02" , ''''''. 
'''
a =  "welcome in python"
print(a)

welcome in python

In [11]:
# string
"python programing language"

'python programing language'

In [12]:
# here is another way to put value in string via format
name = 'sam'
age = 25
print('my name is {} and my age is {}'.format(name,age))

my name is sam and my age is 25

In [13]:
# for formating order in sequence way
name = 'sam'
age = 25
print('my name is {one} and my age is {two}'.format(one = name, two=age))

my name is sam and my age is 25

In [14]:
# for indexing in python
a = 'python'

# here index is start from 0 and end on -1


print(a[0]) # for print index 0 value
print(a[0:2]) # for print in specific range
print(a[:3]) # for print starting to 3
print(a[3:5]) # for specific range

p
py
pyt
ho

In [15]:
# list
# list is mutable / means value can change
# list can work liae as array but it can also store strings

list_of_string = ['nik','vik','dik']
list_of_string.append('gil') # append for add something on the end of list
print(list_of_string[:1])# for print range in specifc order
print(list_of_string[0:2])

['nik']
['nik', 'vik']

In [16]:
nest_list = [1,2,['nik','amit',[52,'amff','sim']]]
print(nest_list[2][0]) # here in this we can extract element from a list to list
print(nest_list[2][2][1]) # extract element from list to list to list

nik
amff

In [17]:
# example of mutable
lst  = [1,2,3,5]
print(lst[1])
lst[3] = 'python' # so here we chnage the index value of list 3 to python this is mutable 
print(lst)

2
[1, 2, 3, 'python']

In [18]:
# data type  - Dictionaries - {}
#to understand Dictionaries better you can compare it with phone book diary
d = {'key1':'value','key2':'value'} # here we are going to assign a key and value
d['key1']

'value'

In [19]:
# Dictionaries
dic = {'k1':[1,2,3]} # assign multiple value to dictonary
dic['k1'][0] # here in this we can extract the value via indexing

1

In [20]:
# Dictionaries

value = {'key':{'phone_key':[2236,2525,1155,4154]}}
print(value['key']) # for find the value of key
print(value['key']['phone_key'][2]) # extract specific key number

{'phone_key': [2236, 2525, 1155, 4154]}
1155

In [21]:
# Data type tupple   -   ()
# tupple is imutable

a = (52,12,'nik') # after asign a tupple you can change the variable
a

(52, 12, 'nik')

In [22]:
# data type - set {}
# main thing about set is data are unique in it.
s = {1,2,5,5,1,2,2,5,1,6,51,2,3,5} # in this set it will only capture unique element not repeted element
s.add(385) # add function is use to add something on last element in set
s

{1, 2, 3, 5, 6, 51, 385}